# Fetchind data through API from TMDB website 
## https://developer.themoviedb.org/docs

## tools used:
https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1

https://jsonviewer.stack.hu/

## Reference : 
https://www.youtube.com/watch?v=HOSGP23DAHI&list=PLKnIA16_RmvZAqJzKstVHywcRNMn6pcGD&index=2

In [9]:
import requests # Brings URL data into python
import pandas as pd

In [27]:
response = requests.get('https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1').json()

In [28]:
d = {'name':['Rahul', 'Rohit'], 'Age': [34, 56]}
df = pd.DataFrame(d)
df

    name  Age
0  Rahul   34
1  Rohit   56

In [30]:
popularity = []
vote_count = []
original_language = []
title = []
vote_average = []
overview = []
release_date = []

for i in response['results']:
    
    popularity.append(i['popularity'])
    vote_count.append(i['vote_count'])
    original_language.append(i['original_language'])
    title.append(i['title'])
    vote_average.append(i['vote_average'])
    overview.append(i['overview'])
    release_date.append(i['release_date'])

d={'title':title, 'overview':overview, 'original_language':original_language, 'release_date':release_date, 'popularity':popularity, 'vote_count':vote_count, 'vote_average':vote_average}

df = pd.DataFrame(d)

In [31]:
df

,title,overview,original_language,release_date,popularity,vote_count,vote_average
0,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,en,2023-10-18,993.283,1503,7.585
1,Freelance,An ex-special forces operative takes a job to ...,en,2023-01-05,812.650,335,6.448
2,Wonka,Willy Wonka – chock-full of ideas and determin...,en,2023-12-06,1055.923,354,7.223
3,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",en,2023-10-12,870.950,385,7.151
4,Leo,Jaded 74-year-old lizard Leo has been stuck in...,en,2023-11-17,697.655,602,7.600
5,Leave the World Behind,A family's getaway to a luxurious rental home ...,en,2023-11-22,667.343,920,6.600
6,Aquaman and the Lost Kingdom,"Black Manta, still driven by the need to aveng...",en,2023-12-20,732.187,18,8.500
7,A Man of Reason,After 10 years of incarceration on behalf of h...,ko,2023-08-15,469.225,30,6.500
8,Oppenheimer,The story of J. Robert Oppenheimer's role in t...,en,2023-07-19,620.394,5490,8.130
9,The Creator,Amid a future war between the human race and t...,en,2023-09-27,519.980,1499,7.135
10,Good Boy,"Christian - a millionaire heir, meets Sigrid -...",no,2022-06-03,489.134,110,6.777
11,Rumble Through the Dark,Set in the dark landscape of the Mississippi D...,en,2023-11-03,440.994,26,6.712
12,Fast X,Over many missions and against impossible odds...,en,2023-05-17,566.246,4493,7.201
13,The Hunger Games: The Ballad of Songbirds & Sn...,64 years before he becomes the tyrannical pres...,en,2023-11-15,578.642,793,7.241
14,Five Nights at Freddy's,"Recently fired and desperate for work, a troub...",en,2023-10-25,532.417,2891,7.817
15,The Advent Calendar,"Eva, an ex-dancer, is now living in a wheelcha...",fr,2021-12-01,404.435,240,6.646
16,Guimoon: The Lightless Door,"In 1990, at a secluded community center, the c...",ko,2021-08-25,422.979,79,6.747
17,Galaxy Games,A group of young adults are sent to a faraway ...,en,2022-07-04,361.978,7,5.714
18,The Dark Kingdom,"To save their Kingdom from an army of undead, ...",en,2018-11-26,424.308,41,5.700
19,Expend4bles,Armed with every weapon they can get their han...,en,2023-09-15,433.865,903,6.441

In [38]:
final = pd.DataFrame()

for j in range(1,501):
    response = requests.get('https://api.themoviedb.org/3/movie/popular?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(j)).json()

    popularity = []
    vote_count = []
    original_language = []
    title = []
    vote_average = []
    overview = []
    release_date = []

    for i in response['results']:

        popularity.append(i['popularity'])
        vote_count.append(i['vote_count'])
        original_language.append(i['original_language'])
        title.append(i['title'])
        vote_average.append(i['vote_average'])
        overview.append(i['overview'])
        try:
            release_date.append(i['release_date'])
        except KeyError:
            continue

    d={'title':title, 'overview':overview, 'original_language':original_language, 'release_date':release_date, 'popularity':popularity, 'vote_count':vote_count, 'vote_average':vote_average}

    df = pd.DataFrame(d)
    
    final = final._append(df, ignore_index=True)

In [39]:
final.head()

,title,overview,original_language,release_date,popularity,vote_count,vote_average
0,Wonka,Willy Wonka – chock-full of ideas and determin...,en,2023-12-06,1081.396,386,7.254
1,Killers of the Flower Moon,When oil is discovered in 1920s Oklahoma under...,en,2023-10-18,879.598,1511,7.576
2,Trolls Band Together,"When Branch's brother, Floyd, is kidnapped for...",en,2023-10-12,782.173,389,7.153
3,Freelance,An ex-special forces operative takes a job to ...,en,2023-01-05,730.353,337,6.445
4,Aquaman and the Lost Kingdom,"Black Manta, still driven by the need to aveng...",en,2023-12-20,964.868,34,7.603

In [40]:
final.shape

(10000, 7)

In [41]:
final.to_csv('movies.csv')